$grayA: #FFFFFF;
$grayB: #F5F5F5;
$grayC: #E8E8E8;
$grayD: #D6D6D6;
$grayE: #C2C2C2;
$grayF: #ADADAD;
$grayG: #9C9C9C;
$grayH: #241E21;

$focusA: #D6D9AD;
$focusB: #858754;
$focusC: #6E7046;
$focusD: #494A3A;

$error: #CF5600;
